<% layout('./../layout/admin') -%>
<div class="row">
    <div class="col-sm-3">
        Action completed, press button to return...
    </div>
    <a class="btn btn-primary" href ="<%=returnUrl%>"><span class="fa fa-arrow-left"></span> Return</a>
</div>