<% layout('./../../layout/admin') -%>
<form name="form1" action="" method="POST" >
<div class="row">
    <div class="col-sm-4">
      <div class="card">
        <div class="card-header">
          <strong><%=adminController%></strong>
          <small><%=adminAction%></small>
        </div>
        <div class="card-body">   
          <!-- /.row-->
          ###FormFields###         
          <!-- /.row-->          
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <button class="btn btn-sm btn-primary" type="submit">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
              </div>
            </div>
          </div>          
          </div>
          <!-- /.row-->
        </div>
      </div>
    </div>    
  </div>
</form>

<%-scriptjs%>