<% layout('./../../layout/admin') -%>
<div class="row">
    <div class="col-sm-2">
        Action completed, press button to return...
    </div>
    <a class="btn btn-primary" href ="../manage_module/">Come back</a>
</div>